# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# Exported/generated outputs (optional)
export/run-*/

# Python build files
build/
dist/
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/
